<div class='container-carrito'>
  {{! <!--  BANNER   --> }}
  <section class='bannerCarrito'>
    <div class='banner-content-carrito'>
    </div>
  </section>

  <div class='container-titulos-quantity-botones'>
    <a class='cartId' id='{{idCart}}' href='http://localhost:8080/auth/perfil'><Button>Ver Perfil</Button></a>
    <h1>Carrito</h1>
    <h2>Cart ID: {{idCart}}</h2>
    <h3>Products:</h3>
    <ul>
      {{#each cart}}
        <li>
          <h4>title: {{title}}</h4>
          <h4>quantity: {{quantity}}</h4>
        </li>
      {{/each}}
    </ul>
    <div class='info-childsbutton'>
      <a href='/products'><button>ir a Productos</button></a>
    </div>
    <div class='info-childsbutton'>
      <a href='http://localhost:8080/carts/{{idCart}}/purchase'><button>Continuar Compra</button></a>
    </div>
  </div>
</div>