<script src='/js/carts.js'></script>

{{! <!--  BANNER   --> }}
<section class='banner'>
  <div class='banner-content'>
    <h1>GREEN SHOP</h1>
  </div>
</section>

<div class='homePrincipalProductos'>
  <h1 class='tituloLista'>Lista de Productos</h1>
  <div class='sesionContenedor'>
    {{#if userSession}}
      <h3>Bienvenido {{userSession}}</h3>
      {{#if userSessionisAdmin}}
        <h5>Admin</h5>
      {{else}}
        <h5>User</h5>
      {{/if}}
      <div class='perfilCarritoCerrarSesion'>
        <div class='info-childsbutton'>
          <a class='cartId' id='{{cart}}' href='/auth/perfil'><Button>Ver Perfil</Button></a>
        </div>
        <div class='info-childsbutton'>
          <a class='cartId' href='/carts/{{cart}}'><Button>Ver Carrito</Button></a>
        </div>
        <a class='cerrarSesion' href='/auth/logout'>Cerrar Sesion</a>
      </div>
    {{/if}}
  </div>

  <div class='row'>
    <div id='products-list'>
      {{#each products}}
        <div class='col-sm-6 mb-3 mb-sm-0'>
          <div class='card'>
            <img src='' class='card-img-top' alt='{{thumbnail}}' />
            <div class='card-body'>
              <h5 class='card-title'>Title: {{title}}</h5>
              <p class='card-text'>Description: {{description}}</p>
            </div>
            <ul class='list-group list-group-flush'>
              <li class='list-group-item'>ID: {{id}}</li>
              <li class='list-group-item'>Price: $ {{price}}</li>
              <li class='list-group-item'>Code: {{code}}</li>
              <li class='list-group-item'>Stock: {{stock}}</li>
              <li class='list-group-item'>Category: {{category}}</li>
            </ul>
            <a href='/products/{{id}}'>Detalle del producto</a>
            <div class='info-childsbutton'>
              <button onclick="putIntoCart('{{id}}')">Agregar al carrito:</button>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

{{! Pagination }}
<div class='homePagination'>
  <div class='paginationControl'>
    {{#if pagination.hasPrevPage}}
      <a href='/products?page={{pagination.prevPage}}'>⬅️{{pagination.prevPage}}</a>
    {{/if}}
    <h3>page:{{pagination.page}}</h3>
    {{#if pagination.hasNextPage}}
      <a href='/products?page={{pagination.nextPage}}'>{{pagination.nextPage}}➡️</a>
    {{/if}}
    {{#each links}}
      <a href='{{this.href}}'>{{this.label}}</a>
    {{/each}}
  </div>
</div>